@import url(../../theme/colors.css);
@import url(../../theme/fonts.css);

.Portfolio-container {  
  margin: 0% 2% 0% 2%;
  font-family: var(--font-family);
  margin-top: -30px;
}

.Portfolio-container-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.Portfolio-navigation{
  display: flex;
  flex-direction: row;

}

.Portfolio-navigation-options{
  padding: 0.5%;
  margin:  0% 0.3%;
  color: var(--gray);
  opacity: 0.8;
  cursor: pointer;
}

.Portfolio-navigation-options:hover{
  opacity: 1;
}

.selected {
  color: var(--gold);
}

.selected:hover {
  color: var(--gold);
}
