@import url(../../theme/colors.css);
@import url(../../theme/fonts.css);

.Skill-Card-container{
  width: 11.4vw;
  margin: 2%;
}

.Skills-card{
  width: 100%;
  margin: 2%;
  padding: 3%;
  background-color: var(--tertiary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--border);
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);  
}

.Skills-card:hover{
  opacity: 1;
}

.Skills-card-title{
  color: var(--white);
  font-size: 1.6vw;
  padding: 1%;
  width: 100%;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: default;
}

.Skills-card-icon{
  width: 5.2vw;
  margin: 8%;
}

.Skills-card-level{
  width: 100%;
  color: var(--gold);
  font-size: 1.2vw;
  margin-top: 2%;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: default;
}
