@import url(../../theme/colors.css);
@import url(../../theme/fonts.css);

.Skills-container{
  margin: 0% 2% 0% 2%;
  font-family: var(--font-family);
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

.Skills-navigation{
  display: flex;
  flex-direction: row;
}

.Skills-navigation-options{
  padding: 0.5%;
  margin:  0% 0.3%;
  color: var(--gray);
  opacity: 0.8;
  cursor: pointer;
  font-size: 1vw;
}

.Skills-navigation-options:hover{
  opacity: 1;
}

.selected {
  color: var(--gold);
  opacity: 1;
}

.selected:hover {
  color: var(--gold);
}

.Skills-container-card {
  width: 57vw;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

