@import url(../../theme/colors.css);
@import url(../../theme/fonts.css);

.Skill-Card-container{
  width: 20%;
  margin: 2%;
}

.test{
  color: var(--gold);
}

.Skills-card{
  width: 100%;
  margin: 2%;
  padding: 3%;
  background-color: var(--tertiary-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid var(--border);
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
  
}

.Skills-card-title{
  color: var(--white);
  font-size: 24px;
  padding: 0%;
  width: 100%;
  font-weight: bold;
}

.Skills-card-icon{
  width: 50%;
  margin: 8%;
}

.Skills-card-level{
  width: 100%;
  color: var(--gold);
  font-size: 20px;
  margin-top: 2%;
  
}

.Skills-card:hover{
  opacity: 1;
}