/* themes/colors.css */

@import './colors.ts';

:root {
  --primary-background: ${colors.primaryBackground};
  --secondary-background: ${colors.secondaryBackground};
  --tertiary-background: ${colors.tertiaryBackground};
  --background: ${colors.background};
  --accent-background: ${colors.accentBackground};
  --dark-background: ${colors.darkBackground};
  --darkest-background: ${colors.darkestBackground};
  
  --border: ${colors.border};

  --lightGray: ${colors.lightGray};
  --grayTransparent: ${colors.grayTransparent};
  --gold: ${colors.gold};

  --white: ${colors.white};
  --gray: ${colors.gray};
  --purple: ${colors.purple};
  --black: ${colors.black};
}
