@import url(../../theme/colors.css);

body{
  width: 100%;
}

.NavBar-container{
  background-color: var(--tertiary-background);
  padding: 1% 2% 1% 2%;
  width: 60%;
  height: auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px 20px 0px 20px;
  border: solid 1px var(--border);
}

.listOptionsNavBar{
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  color: var(--gray);
}

.optionsNavBar{
  padding: 3% 3% 3% 3%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font: 500;
  font-size: 15px;
  font-weight: 600;
}

.listOptionsNavBar :hover{
  color: var(--grayTransparent);
}

.selected {
  color: var(--gold);
}

.selected:hover {
  color: var(--gold);
}