@import url(../../theme/colors.css);
@import url(../../theme/fonts.css);

.Curriculum-container {  
  margin: 0% 2% 0% 2%;
  font-family: var(--font-family);
  margin-top: -3.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.Curriculum-container-text{
  margin-bottom: 0%;
  padding-right: 2%;
  margin-left: 1%;
  text-align: justify;
}

.Curriculum-text{
  font-size: 1vw;
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 2%;
}

.Curriculum-container-download{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3vw;
}

.Curriculum-action{
  width: 16vw;
  text-decoration: initial;
  background-color: var(--tertiary-background);
  text-align: center;
  font-size: 1.2vw;
  font-weight: 400;
  border: solid 1px var(--border);
  border-radius: 15px;
  padding: 5%;
  color: var(--gray);
  cursor: pointer;
  margin-top: 1%;
  box-shadow: 1px 1px 0px var(--gold);
  transition: color 2s, background-color 0.3s, transform 2s, box-shadow 2s;
  letter-spacing: 1px;

}

.Curriculum-action:hover{
  color: var(--gold);
  background-color: var(--secondary-background);
  transform: scale(1.05);
  box-shadow: none;
}

.Curriculum-text-button{
  padding-top: 5%;
}


.separator {
  width: 100%;
  height: 1px;
  background: var(--primary-background);
  margin: 3% 0;
}