* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 1200px;
  margin: 15px 12px;
  background-color: red;
  margin-inline: auto;
}

.container .sidebar {
  display: block;
  position: sticky;
  max-height: max-content;
  height: 100%;
  margin-bottom: 0;
  padding-top: 60px;
  background-color: gray;
  width: auto;
  border-radius: 20px;
  border: 1px solid #1e1e1f;
  padding: 30px;
}

.container .sidebar .sidebar-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: blue;
  gap: 25px;
  margin-bottom: 15px;
}

.container .sidebar .sidebar-info .figure {
  display: block;
  margin-block-start: 3em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  background-color: gray;
  border-radius: 30px;
}

.container .sidebar .sidebar-info .figure img {
  display: block;
  position: relative;
  width: 150px;
  margin-left: 10px;
}

/* .container .sidebar .sidebar-info .info-content {
} */

.container .sidebar .sidebar-info .info-content .name {
  color: white;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.25px;
  margin-bottom: 15px;
  text-align: center;
  white-space: nowrap;
}

.container .sidebar .sidebar-info .info-content .description {
  color: white;
  background-color: #2b2b2c;
  font-size: 12px;
  font-weight: 300;
  width: max-content;
  padding: 5px 18px;
  margin: auto;
  border-radius: 8px;
}

.container .main-content {
  background-color: blue;
  flex-wrap: wrap;
}
